/**********************************
Layouts */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    /*85*/
    /*720px*/
    margin: 0 auto;
    background: #fff url(../imagens/coluna.png) repeat-y left top;
    min-width: 820px;
    max-width: 1280px;
    /* min-height: ; config. altura maxima */
    /* max-height: ; config. altura minima */
}

#marca {
    width: 100%;
    height: 200px;
    background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}


/*
#imagem {
    width: 90%;
    overflow: hidden;
}


/* 520 + 180 = 700 (20 de espaçamento) */


/*700 está p/ x / 520 está p/ 100 = 74,28 */

#conteudo {
    width: 74%;
    /*520px -> 74,28 arrendondou p/ 74% */
    float: right;
}


/*180 * 100 = 18000 / 700 = 25.71 */

#navegacao {
    width: 23%;
    /* 180px -> 25 - 2 = 23% */
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #d1d1d1;*/
}


/* 320 + 180 = 500 sobrou 20 (espaçamento) do total de 520 */


/* (320 * 100) = (32000 / 500) = 64  */

#conteudo-principal {
    width: 63%;
    /*320px -> 64% - 1% = 63% */
    float: left;
}

img.img-noticia {
    border: 1px solid red;
    width: 98%;
    padding: 2%;
    max-width: 600px;
}


/* (180 * 100) = (18000 / 500) = 36 */

#conteudo-secundario {
    width: 34%;
    /*180px -> 36% - 2% = 34% */
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}